.text-slider{
	margin-top: 74px;
}
.quantity-btn{
	margin-top: 10px;
}
@media  only screen and (max-width: 767px){
	
	.checkout-btn{
    background-color: #150404;
    color: white;
    padding: 2px 1px;
    margin-top: 6px;
    border-radius: 0px;
    text-transform: uppercase;
	}

	.gallery-firstrow .col-md-4 img{
	position: relative;
	margin-top: 10px;
	}
	.flexslider{
		margin-top: 10px;
	}
	.search-form{
		margin-top: 13px;
	}
	.shopping-cart__content span{
		color: black;
		font-size: 13px !important;
	}

	.flexslider__img {
    height: 177px !important;
    overflow: hidden;
    }
    .responsive .row {
    	margin-right: 0px;
    	margin-left: 0px;
    }
    .gallery-firstrow .col-md-4{
    	margin-bottom: 12px;
    }
    .gallery-firstrow2{
    	margin-top: 0px;
    }
    .col-md-2-5{
	width: 100% !important;
	}
	.product-row{
		display: block;
		width: 100%;
	}
	.title-featured span{
		font-weight: 0px !important;
		font-size: 14px !important;
	}
	.title-featured {
		margin-bottom: 16px !important;
		margin-top: 0px !important;
	}
	.top-footer-row{
		margin-right: 0px;
		margin-left: 0px;
		padding: 0px 0px !important ;
	}
	.home .logo img{
		width: 100%;
	}
	.home .logo{
		padding: 10px 15px 0 !important;
	}
	.mbl-cart-sec{
		margin-bottom: 0;
	}
	.mbl-cart-sec .shopping-cart{
		margin-top: 0 !important;
	}
	.header-search-bar .search-form__button{
	background-color: transparent;
    border: none !important;
    padding-right: 0 !important;
    right: 20px;
    margin-top: 8px;
	}

  .search-form {

    padding-right: 15px;
    padding-left: 15px;
	
	-webkit-border-radius: 3px;

    border-radius: 3px;

    margin-right: 0;

    margin-bottom: 20px;

    display:block;

    float: none; }
    .widget .widget-title{
    	text-align: center;
    }
    .respnsve .col-xs-4{
    	    margin-left: 10%;
    }
    .toggle_menu{
    	width: 52px !important;
    	margin-top: 10px;
    }
    .gridview-pic{
    	height: 214px;
    }
    .gridview-pic2{
    	height: 214px;
    	overflow: hidden;
    }
     .gallery-firstrow2 .col-md-3{
     	margin-bottom: 10px;
     }
     .gallery-firstrow{
 	    margin: 2px -15px;
     }
     .shop-item{
     	width: 100%;
     }
     .shop-item__content{
     	height: 154px;
     }
     .shop-item__price{
     	margin-bottom: 0;
     	line-height: 35px;
     	float: none;
     	text-align: center;
     }

     .shop-item__price span{
     	margin-top: 10px;
     }
    .shop-item__title{
     	margin-bottom: 5px;
     }
	.items-name a{
		color: #777;
		padding-bottom: 5px;
	}
	.product-detail-img{
		height: 300px;
	}
	.cart-section .row{
		margin: 0;
	}
	.mbl-view-header{
		position: fixed !important;
		top: 0;
		z-index: 9999;
		height: 95px !important;
	}
	.search-form__button{
		top: 6px;
	}
}	
@media screen and (max-width: 767px) and (min-width: 467px){
	.slides  li{
		position: absolute !important;
		top: 55%;
	}
	.flexslider__img{
		height: 250px !important;
	}	
	.gallery-firstrow{
		margin-top: 50%;
	}
}
.cart-section .col-md-3{
	margin-left: 8.33%;
}
.product-detail-img{
	height: 424px;
	overflow: hidden;
}
.list-view .shop-item .shop-item__img img{
	height: 212px;
}
.list-view .shop-item .shop-item__title{
	padding-left: 5px;
}
.shop-item__price{
	float: none;
}
.lates-prdct-sidebar{
	height: 90px;
	overflow: hidden;
}
.widget_shopping_cart .media > div.media-left > a{
	height: 60px;
}
.items-name{
	text-align: center;
}
.items-name a{
	color: #777;
}
.notifyjs-corner{
	top: 7% !important;
}
#toTop{
	background-color: black;
	color: white;
}
/*Preloader starts here*/
#loading{
	background:#333;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1000000;
	margin-top: 0px;
	top: 0px;
}
.logo-loading {
position: relative;
top: 26%;	
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
	}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 20px;
	width: 140px;
	margin-top: -10px;
	margin-left: -70px;
	-webkit-animation: loading-center-absolute 1s infinite;
	animation: loading-center-absolute 1s infinite;
 
}
.object{
	width: 20px;
	height: 20px;
	background-color: #FFF;
	float: left;
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
	margin-right: 20px;
	margin-bottom: 20px;	
}
.object:last-child {
	margin-right: 0px;
 
}
#object_one{
	-webkit-animation: object_one 1s infinite;
	animation: object_one 1s infinite;
	}
#object_two{
	-webkit-animation: object_two 1s infinite;
	animation: object_two 1s infinite;
	}	
#object_three{
	-webkit-animation: object_three 1s infinite;
	animation: object_three 1s infinite;
	}		
#object_four{
	-webkit-animation: object_four 1s infinite;
	animation: object_four 1s infinite;
	}		
	
@-webkit-keyframes loading-center-absolute{
100% {
   -ms-transform: rotate(360deg); 
   	-webkit-transform: rotate(360deg); 
    transform: rotate(360deg); 
	}			
	
}		
@keyframes loading-center-absolute{
100% {
    -ms-transform: rotate(360deg); 
   	-webkit-transform: rotate(360deg); 
    transform: rotate(360deg); 
	}
}	
@-webkit-keyframes object_one{
50% {
    -ms-transform: translate(20px,20px); 
   	-webkit-transform: translate(20px,20px);
    transform: translate(20px,20px);
	}
}		
@keyframes object_one{
50% {
     -ms-transform: translate(20px,20px); 
   	-webkit-transform: translate(20px,20px);
    transform: translate(20px,20px);
	}
}
@-webkit-keyframes object_two{
50% {
    -ms-transform: translate(-20px,20px); 
   	-webkit-transform: translate(-20px,20px);
    transform: translate(-20px,20px);
	}
}		
@keyframes object_two{
50% {
    -ms-transform: translate(-20px,20px); 
   	-webkit-transform: translate(-20px,20px);
    transform: translate(-20px,20px);
	}
}
 
@-webkit-keyframes object_three{
50% {
    -ms-transform: translate(20px,-20px); 
   	-webkit-transform: translate(20px,-20px);
    transform: translate(20px,-20px);
	}
}		
@keyframes object_three{
50% {
    -ms-transform: translate(20px,-20px); 
   	-webkit-transform: translate(20px,-20px);
    transform: translate(20px,-20px);
	}
}
 
@-webkit-keyframes object_four{
50% {
    -ms-transform: translate(-20px,-20px); 
   	-webkit-transform: translate(-20px,-20px);
    transform: translate(-20px,-20px);
	}
}		
@keyframes object_four{
50% {
    -ms-transform: translate(-20px,-20px); 
   	-webkit-transform: translate(-20px,-20px);
    transform: translate(-20px,-20px);
	}
}
/*preloader ends here*/